PRODUCTION_MODE=false
APP_PORT=3000
MONGODB_URL=mongodb://localhost:27017/transactions
ELASTIC_HOST=10.0.0.24:30920
MICRO_URL_CONNECT=https://connect-backend.test.devpayever.com
RABBITMQ_URL=amqp://payever:payever@localhost:5672
RABBITMQ_CERTIFICATE_PATH=./rabbitcrypt/private/private.crt

APM_SERVICE_ENABLE = false
ELASTIC_APM_ACTIVE = false
ELASTIC_APM_SERVER_URL=http://kibana.devpayever.com:8200
ELASTIC_APM_LOG_LEVEL=error
ELASTIC_APM_SERVICE_NAME=transactions-microservice

JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
JWT_SECRET_TOKEN=secretKey
JWT_EXPIRES_IN=3600
